# Expects a string, eg.: 'postgres'
POSTGRES_USER
# Expects a string, eg.: 'postgres'
POSTGRES_PASSWORD
# Expects a string, eg.: 'postgres'
POSTGRES_HOST
# Expects an integer, eg.: '1234'
POSTGRES_PORT
# Expects a string, eg.: 'postgres_user'
POSTGRES_DB

# Expects an email, eg.: 'foo@bar.com'
PGADMIN_DEFAULT_EMAIL
# Expects a string, eg.: 'postgres'
PGADMIN_DEFAULT_PASSWORD

# Expects an integer, eg.: '1234'
NEST_PORT

# Expects a string, eg.: 'secret'
JWT_SECRET
# Expects a (value-name) string, eg.: '1w', '3600s'
JWT_EXPIRE
